.env
.git
.gitattributes
.gitignore
.github
node_modules
vendor
storage/app/public
storage/debugbar
storage/framework/cache/data
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/logs
docker-compose.yml
Dockerfile
*.md
.editorconfig
phpunit.xml
# postcss, tailwind, vite dibutuhkan oleh frontend build stage
